/*
 CSS Rules
Syntax ; 
selector {}
	propery: value;
*/

/*
h1 {
color:  yellow !important;

}

*/


/* 1. Universal Selector (Lowest) */
/*Change the font of every element in HTML*/

* {font-family: Courier New, monospace; font-size: 20px;

}
/*the (asterisk) symbol is a universal selector* and is used to target all element*/
/*The font-family property changes the styple of the font.*/
/*The value of  Courier New is used as the primary font and the value monospace is used as a secondary font when a browswer is unable to use the primary font*/

/*The value 20px refers to 20 pixels in size.*/

/*TYPE SELECTOR*/
body {
background-color: skyblue ;

}


/*the background-color propery changes the BG color of the element*/


/*3. Attri Selector */
/*Attri Selector only works based on attri syntax provided in the HTML tag. And it is case sensitive*/

input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}

/*4. Class selector*/
/*The class attri is used to target element with similar styling, this is a good approach to use for elements with similar styles accross the whole application*/
/*The text-transform property changes font to a certain case*/


 .offering-item {
text-transform: uppercase;
 }

 /*The value uppercase*/

 /*ID selector*/
 #zuitt-motto {
letter-spacing: 5px;
 }

 /*The ID attri used to target element with unique styling, it is a good approach to use for elements that should have thier own style accross the whole application*/

 /*The letter spacing property changes the spaces in b/w charac of a text*/
 /*ID selectors have the highest prio for selectors. IN this e.g type selector did not work bcoz ID selector has a higher priority*/

 /*CSS Selector Combinator*/

 /*Adjacent sibling selector (  +  )*/

 /*Syntax
 sibling_element + target_element*/


 h3 + img {
height: 300px;
width: 300px;
border-radius: 150px;
 }

 /*general  sibling selector ( ~  )
*/
 /*Syntax: 
sibliling_element ~ target_element {propertry value} */

h2 ~ a, a{
	text-decoration: none;
}

/*child  sibling selector ( >  )
*/

/*syntax: 
Selector > selector2 

{style*/
	body > section > form > label { 
	}

/*RGB Colors*/

/*Descendant Selectors*/

/*syntax
Selector1 selector2 {
	style property
}
*/

#bootcamp-learning-list li{color: #075966;}
/*Hexadecimal Colors*/

/*Whole HTML*/
html {
	scroll-behavior: smooth;
}

/*Navigation Bar*/

nav {
	background-color: white;
}

/*Selector:  Hoever Psuedo Class*/
/*Changes the style when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for th Navigation Bar*/

div {
	display: inline-block;
	float: right;
}

/*Landing Section and Form Section*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*Remove numbers from list*/
ol {
	list-style: none;
}

/*Register Section/Form*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;

}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}
