#p2 { 
	color: yellow;
}

* {
	font-family:Verdana, sans-serif; font-size: 20px;}

h1 {
		font-size: 50px;
	  }

 * h2 {
 	text-transform: uppercase;
 }

 #list1 {
 	background-color: lightgreen;
 }

img + ul {

 	list-style: none;
 	letter-spacing: 10px;
 }

 img {
height: 300px;
width: 300px;
border-radius: 150px;
 }

 ul ~ p {
 	text-align: center;
 }

 section > ul > li {
 	letter-spacing: 10px;
 }